<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="The smell of code" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> The Smell Of Code </h3>
    <ul>
      <li>My thoughts on software development</li>
    </ul>
    <p>A blog and a Youtube channel where I am documenting my learning process and talking about software development.</p>
    <a class="project-link" href="https://thesmellofcode.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tugboat apps" src="{{ "/assets/img/tugboat.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tugboat Apps </h3>
    <ul>
      <li> Mobile apps development </li>
    </ul>
    <p>A mobile apps development studio I created to build great mobile apps and to collaborate with awesome people.</p>
    <a class="project-link" href="https://tugboat.nz">Check it out</a>
  </div>
</div>
